<h1>プロフィール編集</h1>
<%= form_with(model: @user, local: true, method: :patch) do |form| %>
  <div class="field">
    <%= form.label :プロフィール画像 %>
    <p><%= image_tag(@user.image.url) if @user.image && @user.image.url %></p>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %><br>
    <%= form.label :名前 %><br>
    <%= form.text_field :name %><br>
    <%= form.label :メールアドレス %><br>
    <%= form.text_field :email %>
  </div>
  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
