<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "件のエラーです！") %> 以下のとおり、対応願います。</h2>
      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
<div class="post-form">
  <div class="field">
    <%= form.label :画像 %>
    <p><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %><br>
    <%= form.label :内容 %><br>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "投稿" %>
  </div>
</div>
<% end %>
