<div class="main">
  <div class="confirm-view">
    <h2>確認画面</h2>
    <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
      <%= form.label :画像 %>
      <p><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
      <%= form.hidden_field :image_cache %><br>
      <%= form.label :内容 %>：
      <%= @picture.content %>
      <%= form.hidden_field :content %>
      <br><br>
      <%= form.submit "投稿" %>
    <% end %>
    <%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |form| %>
      <%= form.hidden_field :image_cache %><br><br>
      <div class="link-menu">
        <%= form.submit "戻る", name: "back", class: 'btn', style: 'background: gray' %>
      </div>
    <% end %>
  </div>
</div>
